{% extends "layout.html" %}

{% block title %}
Tweet
{% endblock %}

{% block content %}

  <h2>
    {%if form.instance.pk %}
    Edit Tweet
    {% else %}
    Create tweet
    {% endif %}

    <form method="post" enctype="multipart/form-data" class='form'>
      {% csrf_token %}
        {{form.as_p}}
        {% for error in form.non_field_errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        <button class='btn btn-warning' type='submit'>Post Tweet</button>

    </form>
    <a href="{%url 'tweet_list' %}">Back to Tweet List</a>
  </h2>
{% endblock  %}
